[submodule "submodules/SimplePythonTools"]
	path = submodules/SimplePythonTools
	url = https://github.com/RDCH106/SimplePythonTools.git
[submodule "submodules/python-scripts"]
	path = submodules/pythonScripts
	url = http://ingran.es:8081/rdcelis/python-scripts.git
[submodule "submodules/pythonScripts"]
	path = submodules/pythonScripts
	url = http://ingran.es:8081/rdcelis/python-scripts.git
